@import '../../assets/styles/_vars.scss';

$height: 45px;

.large-item {

	&__wrapper {
		display: flex;
		flex-direction: column;
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background-color: black;
		color: $light-text;
	}

	&__header {
		display: flex;
		align-items: center;
		height: $height;
	}

	&__footer {
		display: flex;
		align-items: center;
		height: $height;
	}

	&__name {
		margin-left: 20px;
		margin-right: auto;
	}

	&__main {
		margin-bottom: auto;
		text-align: center;
	}

	&-image {
		height: calc(100vh - 90px);
		margin: 0 auto;
	}

}

.arrow {
	display: block;
	margin-left: 20px;
	color: currentColor;
	text-decoration: none;
	transition: 0.5s;

	&:hover {
		color: md-color($accent);
	}

	svg {
			fill: currentColor;
			transform: rotate(180deg);
		}
}

.favorite {
	display: block;
	height: 38px;
	width: 38px;
	background: none;
	border: 1px solid transparent;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	transition: 0.5s;
	padding-top: 7px;
	color: $light-text;
	margin-right: 40px;

	&:hover {
		color: #f44336;
		background: md-color($accent);
	}

	svg {
			fill: currentColor;
		}
}