@import '../../assets/styles/_vars.scss';

$height: 45px;

.large-item {

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		color: white;
		background-color: $light-text;
	}

	&__header {
		display: flex;
		align-items: center;
		height: $height;
	}

	&__footer {
		display: flex;
		align-items: center;
		height: $height;
	}

	&__name {
		margin-left: 20px;
		margin-right: auto;
	}

	&__main {
		flex-grow: 9999;
		display: flex;
		flex-direction: column;
		justify-content: center;		
	}

	&__main-image {
		text-align: center;
		display:none;
	}	

	&__main-text {
		font-size: 1.2em;
		color: white;
		text-align: center;
		overflow-y: auto;

		pre {
			margin-top: auto;
			margin-bottom: auto;
		}
	}


	&-image {
		height: calc(100vh - 90px);
		margin: 0 auto;
	}

}

.arrow {
	display: block;
	margin-left: 20px;
	color: currentColor;
	text-decoration: none;
	transition: 0.5s;

	&:hover {
		color: md-color($accent);
	}

	svg {
			fill: currentColor;
			transform: rotate(180deg);
		}
}

.favorite {
	display: block;
	height: 38px;
	width: 38px;
	background: none;
	border: 1px solid transparent;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	transition: 0.5s;
	padding-top: 7px;
	margin-right: 40px;
	color: currentColor;

	&:hover {
		color: #f44336;
		background: md-color($accent);
	}

	svg {
			fill: currentColor;
		}
}