<div class="large-item__wrapper">
	<header class="large-item__header">
		<a class="arrow" href=" {{ returnUrl }}">
                <svg viewBox="0 0 24 24" width="24" height="24">
                    <use xlink:href="#arrow"></use>
                </svg>   
        </a>
	</header>
	<main class="large-item__main">
		<div *ngIf="item.type=='image'" class="large-item__main-image">
			<img src="{{ fullUrl }}" alt="Photo" class="large-item-image">
		</div>
		<div *ngIf="item.type=='text'" class="large-item__main-text">
			<pre>{{ loadText }}</pre>
		</div>
	</main>
	<footer class="large-item__footer">
		<div class="large-item__name">
			{{item.name}}
		</div>
		<button class="favorite">
                <svg viewBox="0 0 24 24" width="24" height="24">
                    <use xlink:href="#favorite"></use>
                </svg>   
        </button>
	</footer>
</div>
