<md-card class="item-card">
        <div class="item-card-picture">
            <app-item-load-logo [item]="item" class="item-card-load-logo"></app-item-load-logo>
        </div>
        <md-card-title class="item-card-title">
            <span>{{item.name}}</span>
        </md-card-title>
        <md-card-content class="item-card-content">
          <p>
            {{item.description}}
          </p>
        </md-card-content>
        <md-card-actions class="item-card-actions">
        	<app-voice [item]="item" (onClickedFavorite)="changeVoices($event)">
            </app-voice>
        	<div class="item-card__counter">{{item.voices}}</div>
        	<span class="winner" *ngIf="item.winner>0" title="Победитель">
                <svg width="38" height="38">
                    <use xlink:href="#cup"></use>
                </svg>   
            </span>
        </md-card-actions>
</md-card>