<md-card class="item-card">
        <div class="item-card__picture">
            <svg width="64" height="64">
                    <use attr.xlink:href="#{{item.type}}"></use>
            </svg>   
        </div>
        <md-card-title>
            <span class="md-headline">{{item.name}}</span>
        </md-card-title>
        <md-card-content class="item-card__content">
          <p>
            {{item.description}}
          </p>
        </md-card-content>
        <md-card-actions class="item-card-actions">
        	<button class="item-card-btn" aria-label="Favorite">
        		<svg viewBox="0 0 24 24">
                    <use xlink:href="#favorite"></use>
                </svg>
        	</button> 
        	<div class="item-card__counter">0</div>
        	<span class="winner" *ngIf="item.winner>0" title="Победитель">
                <svg width="38" height="38">
                    <use xlink:href="#cup"></use>
                </svg>   
            </span>
        </md-card-actions>
</md-card>