@import '../../assets/styles/_vars.scss';

.item-card {
	width: 300px;
	margin: 30px 30px 30px 0;

	&-content {
		line-height: 1.5em;
	}

	&-picture {
		position: relative;
		height: 180px;
		margin-bottom: 20px;
		background-color: grey;
		color: white;
		svg {
			fill: currentColor;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&-load-logo {
		display: block;
		height: 100%;
	}

	&-preload-pic {
		display: none;
	}

	&-actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-content: center;
		margin: 0;
		color: $light-text;
	}

	&__counter {
		height: 40px;
		line-height: 40px;
		font-size: 0.8em;
		margin-left: 5px;
		margin-right: auto;
	}

	&-btn {
		display: block;
		background: none;
		border: 1px solid transparent;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		outline: none;
		cursor: pointer;
		transition: 0.5s;
		padding-top: 7px;
		color: $light-text;

		svg {
			fill: currentColor;
		}
	}

	&-btn:hover {
		background: md-color($accent);
		color: #f44336;
	}
}

.winner svg {
	fill: md-color($accent);
}

