<md-card class="item-card">
        <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
        <md-card-title>
            <span class="md-headline">{{item.name}}</span>
        </md-card-title>
        <md-card-content class="item-card__content">
          <p>
            {{item.description}}
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
        	<button class="md-icon-button" aria-label="Favorite">
        		<img src="../assets/icons/favorite.svg">
        	</button> 
        	<span class="item-card__counter">0</span>
        </md-card-actions>
</md-card>