.item-logo-ref {
	text-decoration: none;
	color: white;
}

.item-logo__wrapper {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.item-image {
	width: 100%;
	background: transparent no-repeat 0 0;
	background-size: cover;
}

.item-text {
	margin: 0;
	padding: 15px;
	font-style: italic;
	overflow: hidden;
}

.item-card-preload-pic {
	display: block;
	svg {
		fill: currentColor;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
.item-video {
	overflow: hidden;
}
