<a href="./largeitem" class="item-logo-ref">
	<div *ngIf="loading" class="item-card-preload-pic">
		<svg width="64" height="64">
			<use attr.xlink:href="#{{item.type}}"></use>
		</svg> 
	</div> 
	<div [ngSwitch]="item.type" class="item-logo__wrapper">
		<img *ngSwitchCase="'image'" [hidden]="loading" (load)="onLoadImage()" src="{{ fullUrl }}" class="item-image">
		<pre *ngSwitchCase="'text'"  [hidden]="loading" class="item-text">{{loadText}}</pre>
		<div *ngSwitchCase="'video'"  class="item-video">
			<video width="320" height="180" controls [hidden]="loading" (loadstart)="onLoadStartVideo()">
				<source src="{{ fullUrl }}" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		</div>
	</div>
</a>
