<app-header></app-header>

  <div class="app-content">

    <md-card>
      <md-list class="app-list">
        <md-list-item *ngFor="let food of foods">
          <h3 md-line>{{food.name}}</h3>
          <p md-line class="demo-secondary-text">{{food.rating}}</p>
        </md-list-item>
      </md-list>
    </md-card>

    <md-card>
      <md-tab-group>
        <md-tab>
          <template md-tab-label>
            Участник №1
          </template>
          <template md-tab-content>
            <p>EARTH</p>
          </template>
        </md-tab>
        <md-tab>
          <template md-tab-label>
            Участник №2
          </template>
          <template md-tab-content>
            <p>FIRE</p>
          </template>
        </md-tab>
      </md-tab-group>
    </md-card>


    <md-card>
      <md-icon>build</md-icon>
    </md-card>

  </div>
<app-footer></app-footer>
