@import '../../assets/styles/_vars.scss';

.voice {
	&-btn {
		display: block;
		background: none;
		border: 1px solid transparent;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		outline: none;
		cursor: pointer;
		transition: 0.250s;
		padding-top: 7px;
		color: currentColor;

		svg {
			fill: currentColor;
		}
	}

	&-btn:hover {
		background: md-color($accent);
		color: #f44336;
	}
}